html {
    background-image: linear-gradient(45deg, rgb(80, 20, 192), white);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.navigation {
    padding-top: 20px;
    margin-top: 10px;
    width: 100%;
    position: fixed;
}

.navigation a {
    text-decoration: none;
    width: 10%;
    float: right;
    color: rgb(236, 137, 8);
    overflow: hidden;
    border-radius: 10px;
    display: block;
    padding: 14px 16px;
    text-align: center;
    font-size: 30px;
}

.navigation a:hover {
    color: rgb(26, 126, 13);
}

.heading h1 {
    font-weight: 100px;
    font-size: 150px;
    margin-left: 50px;
    padding-left: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 100px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 50px;
    padding-left: 100px;
}

.heading p {
    background-image: linear-gradient(2700deg, rgb(223, 58, 223), white, rgb(223, 58, 223), white);
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 50px;
    padding-left: 100px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 50%;
}

.first {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.image1 {
    margin: 40px;
    text-align: center;
    border-radius: 100%;
}

.about-info {
    margin: 10px;
}

.about-info h1 {
    font-size: 60px;
    font-weight: 1000;
}

.about-info p {
    color: #ffffff;
    font-size: 30px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.second h1 {
    text-align: center;
    font-size: 80px;
    color: black;
    font-weight: 1000;
}

.project {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.project img {
    width: 500px;
    height: 300px;
    margin: 20px;
}

.project h2 {
    margin: 20px;
    font-size: 30px;
    width: 110px;
}

.project p {
    margin: 20px;
    color: #ffffff;
    font-size: 20px;
}

.project a {
    text-decoration: none;
    color: rgb(236, 137, 8);
}

.project a:hover {
    color: rgb(26, 126, 13);
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    height: 50vh;
}

.skill-heading {
    text-align: center;
    font-size: 80px;
    color: black;
    font-weight: 1000;
}